.chatScreen {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #fff;
}

.messagesContainer {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.messagesContainer::-webkit-scrollbar {
    width: 8px;
}

.messagesContainer::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.messagesContainer::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
}
